doctype html
html(lang='en')
	head
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
		link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
		link(rel="stylesheet", href="/card.css")
		meta(charset="utf-8")
		title CardLink

	body
		block content


			.content-container
				.text-center
					button.btn.btn-success.btn-save Save

				//----------- Card -------------
				.card-container
					.card-nav.col-sm-2.inline-block
						ul.btn-list.list-unstyled
							li: button#see-bio.btn.btn-success.circle Bio
							li: button#see-skill.btn.btn-danger.circle Skill
							li: button#see-info.btn.btn-warning.circle Info

					
					//----------- Bio -------------
					.card-info.col-sm-10.inline-block.row
						.card-bio.inline-block.row
							.col-sm-3
								img.user-picture.circle(src="#{user.pictureUrl}")
							.col-sm-9
								.bio-text
									span.header-lg.user-name.editable(contenteditable="true") #{user.firstName} #{user.lastName} 
										i(contenteditable="false").btn-edit.fa.fa-pencil-square-o
									//- .input-group.input-group-lg
									input.write.header-lg.user-name-input(type="text", name="user-name", value="#{user.firstName} #{user.lastName}")
									span.header-md.user-title.editable #{user.headline}
									input.write.header-md.user-title-input(type="text", name="user-title", value="#{user.headline}")
							//- .row
							//- 	.col-sm-6
									
							//- 	.col-sm-6.text-left
									
									p.user-location #{user.location.name}
							//- .page-header
						.card-body.inline-block
							.user-about.text-center
								span.header-sm About
								p.user-description.editable(contenteditable="true") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis temporibus quas ex eligendi repellendus reprehenderit sunt sit laboriosam hic sequi libero, veniam dolore illum provident dignissimos impedit reiciendis. Blanditiis, adipisci.
								textarea.write.user-description-input(rows="4", name="user-description", style="resize:none", placeholder="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis temporibus quas ex eligendi repellendus reprehenderit sunt sit laboriosam hic sequi libero, veniam dolore illum provident dignissimos impedit reiciendis. Blanditiis, adipisci.")
							.user-skillset.text-center
								span.header-sm.user-skills Skills
								ul.editablelist-unstyled.list-inline
									li.editable.skill(contenteditable="true") JavaScript
									li.editable.skill(contenteditable="true") HTML
									li.editable.skill(contenteditable="true") Coolness
									li.editable.skill(contenteditable="true") Winning
									li.editable.skill(contenteditable="true") Web Stuff

								input.write.skill.skill-input(type="text", name="user-skill1", value="JavaScript")
								input.write.skill.skill-input(type="text", name="user-skill2", value="JavaScript")
								input.write.skill.skill-input(type="text", name="user-skill3", value="JavaScript")
								input.write.skill.skill-input(type="text", name="user-skill4", value="JavaScript")
								input.write.skill.skill-input(type="text", name="user-skill5", value="JavaScript")
						

							//----------- Contact -------------
							.card-footer.text-center
								p LinkedIn: 
									a(href='#{user.apiStandardProfileRequest.url}') #{user.apiStandardProfileRequest.url} 
									strong.phone.editable(contenteditable="true") Phone: (555-123-4567)
									input.write.skill.skill-input.pull-right(type="text", name="user-phone", value="(Phone:)")

					
				//--------- Dropdown -------------
				.extra-container
					.extra.extra-bio
						h4.extra-header More About Me
						p.extra-text.editable(contenteditable="true") Here is some more information about how awesome I am
						textarea.write.user-extra-bio-input(rows="6", name="user-extra-bio", value="You can edit this as well#{user.headline}")
					
					.extra.extra-skills
						h4.extra-header Skillset
						p.extra-text.editable(contenteditable="true") Here is some more information about how awesome I am
						textarea.write.user-extra-bio-input(rows="6", name="user-extra-bio", value="You can edit this as well#{user.headline}")
					
					.extra.extra-info
						h4.extra-header Contact Information
						p.extra-text.editable(contenteditable="true") Here is some more information about how awesome I am
						textarea.write.user-extra-bio-input(rows="6", name="user-extra-bio", value="You can edit this as well#{user.headline}")
				
		script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		script(src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/js/bootstrap.min.js")
		script(src="/cardActions.js")
		