doctype html
html(lang='en')
	head
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
		link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
		link(rel="stylesheet", href="/card.css")
		meta(charset="utf-8")
		title CardLink

	body
		block content

			.content-container
				.text-center
					button.write.btn.btn-lg.btn-save Save
					button.btn.btn-lg.btn-share.editable Share/Print

				//----------- Card -------------
				.card-container.inline-block
					.card-nav.col-sm-2.col-xs-12.text-center.inline-block
						ul.btn-list.list-unstyled
							li: button#see-bio.btn.btn-success.circle Bio
							li: button#see-skill.btn.btn-danger.circle Skill
							li: button#see-info.btn.btn-warning.circle Info

					
					//----------- Bio -------------
					.card-info.col-sm-10.inline-block.row
						img.user-picture.circle(src="#{user.pictureUrl}")
						.card-bio
							//- .col-sm-3.col-xs-2
							//- .col-sm-9.col-xs-10
							.bio-text
								span.header-lg.user-name.editable(contenteditable="true") #{user.firstName} #{user.lastName} 
									i(contenteditable="false").btn-edit.fa.fa-pencil-square-o
								//- .input-group.input-group-lg
								input.user-name.write.header-lg.user-name-input(type="text", name="user-name", placeholder="#{user.firstName} #{user.lastName}")
								span.header-md.user-title.editable(contenteditable="true") #{user.headline}
								input.user-title.write.header-md.user-title-input(type="text", name="user-title", placeholder="#{user.headline}")
							//- .row
							//- 	.col-sm-6
									
							//- 	.col-sm-6.text-left
									
									p.user-location #{user.location.name}
							//- .page-header
						.card-body.inline-block
							.user-about.text-center
								span.header-sm About
								p.user-description.editable(contenteditable="true") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis temporibus quas ex eligendi repellendus reprehenderit sunt sit laboriosam hic sequi libero, veniam dolore illum provident dignissimos impedit reiciendis. Blanditiis, adipisci.
								textarea.write.user-description-input(rows="4", name="user-description", style="resize:none", placeholder="EDIT HERE: (max 290 characters)")
							.user-skillset.text-center
								span.header-sm Skills
								ul.editable.user-skills.list-unstyled.list-inline
									li#skill-1.skill.editable(contenteditable="true") JavaScript
									li#skill-2.skill.editable(contenteditable="true") HTML
									li#skill-3.skill.editable(contenteditable="true") Coolness
									li#skill-4.skill.editable(contenteditable="true") Winning
									li#skill-5.skill.editable(contenteditable="true") Web Stuff

								.write
									input#skill1-input.write.skill.skill-input(type="text", name="user-skill1", placeholder="JavaScript")
									input#skill2-input.write.skill.skill-input(type="text", name="user-skill2", placeholder="JavaScript")
									input#skill3-input.write.skill.skill-input(type="text", name="user-skill3", placeholder="JavaScript")
									input#skill4-input.write.skill.skill-input(type="text", name="user-skill4", placeholder="JavaScript")
									input#skill5-input.write.skill.skill-input(type="text", name="user-skill5", placeholder="JavaScript")
						

							//----------- Contact -------------
							.contact-container.text-center
								p LinkedIn: 
									a(href='#{user.apiStandardProfileRequest.url}') #{user.apiStandardProfileRequest.url} 
									//- strong.user-phone.editable(contenteditable="true") Phone: (555-123-4567)
									//- input.write.user-phone.user-phone-input.pull-right(type="text", name="user-phone", placeholder="(Phone:)")

					
				//--------- Dropdown -------------
				.extra-container
					.extra.extra-bio
						h4.extra-header More About Me
						p#extra-bio.extra-text.editable(contenteditable="true") Here is some more information
						textarea#user-extra-bio-input.write(rows="6", name="user-extra-bio", value="EDIT INFO HERE: (max 40 characters)")
					
					.extra.extra-skills
						h4.extra-header Skillset
						ul.editable.user-skills.list-unstyled.list-inline
								li#extra-skill-1.skill.editable(contenteditable="true") JavaScript
								li#extra-skill-2.skill.editable(contenteditable="true") HTML
								li#extra-skill-3.skill.editable(contenteditable="true") Coolness
								li#extra-skill-4.skill.editable(contenteditable="true") Winning
							
						p#extra-skills.extra-text.editable(contenteditable="true") Here is some more information
						//- textarea#user-extra-skills-input.write(rows="6", name="user-extra-bio", value="You can edit this as well#{user.headline}")
						input#extra-skill1-input.user-extra-skills.write.skill.skill-input(type="text", name="user-skill1", placeholder="JavaScript")
						input#extra-skill2-input.user-extra-skills.write.skill.skill-input(type="text", name="user-skill2", placeholder="JavaScript")
						input#extra-skill3-input.user-extra-skills.write.skill.skill-input(type="text", name="user-skill3", placeholder="JavaScript")
						input#extra-skill4-input.user-extra-skills.write.skill.skill-input(type="text", name="user-skill4", placeholder="JavaScript")
						
					.extra.extra-info
						h4.extra-header Contact Information
						p#extra-info.extra-text.editable(contenteditable="true") Here is some more information
						textarea#user-extra-info-input.write(rows="3", name="user-extra-bio", value="EDIT INFO HERE: (max 40 characters)")
				
		script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		script(src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/js/bootstrap.min.js")
		script(src="/cardActions.js")
		